<div class="container">
  <h1 class="title">Stupid Coaching</h1>

  <div class="card">
    <p class=""><%= @answer %></p>
    <p class="you"><%= "- You" %></p>
  </div>

    <div class="card">
    <% if params[:question].downcase == "i am going to work right now!" %>
      <p><%= "" %></p>
    <% elsif params[:question].end_with?("?") %>
      <p><%= "Silly question, get dressed and go to work!" %></p>
    <% else %>
      <p><%= "I don't care, get dressed and go to work!" %></p>
    <% end %>

    <p class="you"><%= "- Your coach" %></p>
  </div>
  <a href=""><%= link_to "Ask a new question", ask_path %></a>
</div>